# Configuración para el contenedor de MySQL
DB_DATABASE=my_database
DB_USER=my_user
DB_PASSWORD=my_user_passw0rd
DB_ROOT_PASSWORD=my_r00t_password

# Estas variables las usará el docker-compose.yml
DB_PORT=3306
